<% content_for :page_title do %>
   <%= Spree.t(:inspiration_entries) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:new_inspiration_entry), new_object_url, :icon => 'plus' %></li>
<% end %>

<% if @inspiration_entries.any? %>
  <table class="index">
    <colgroup>
      <col style="width: 15%">
      <col style="width: 30%">
      <col style="width: 35%">
      <col style="width: 5%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr>
        <th class="date"><%= Spree.t(:published_at) %></th>
        <th class="title"><%= Spree.t(:title) %></th>
        <th class=""><%= Spree.t(:summary) %></th>
        <th class=""><%= Spree.t(:visible) %></th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% @inspiration_entries.each do |inspiration_entry| %>
        <tr class="<%= cycle('odd', 'even') %>" id="<%= spree_dom_id inspiration_entry %>">
          <td class="align-center"><%= l( inspiration_entry.published_at, :format => :inspiration_date) if inspiration_entry.published_at %></td>
          <td class="align-center"><%= inspiration_entry.title %></td>
          <td class="align-center"><%= inspiration_entry.summary.truncate(300) if inspiration_entry.summary %></td>
          <td class="align-center">
            <%= content_tag(:i, '', :class => 'fa fa-ok green') if inspiration_entry.visible %>
          </td>
          <td class="actions">
            <%= link_to_inspiration_in_store inspiration_entry, :no_text => true, target: '_blank' %>
            <%= link_to_edit inspiration_entry, :no_text => true %>
            <%= link_to_delete inspiration_entry, :no_text => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @inspiration_entries %>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/inspiration_entry')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_inspiration_entry_path %>!
  </div>
<% end %>

