<div id="inspiration_entry_container">
  <div id="inspiration_entry_entry" data-hook="inspiration_entry_entry">

    <h1 id="inspiration"><%= @inspiration_entry.title %></h1>
      <span class="inspiration_entry_date"><%= l(@inspiration_entry.published_at, :format => :inspiration_date) %></span>

    <% unless @inspiration_entry.inspiration_entry_image.nil? %>
    <div class="inspiration_entry_image">
      <%= image_tag @inspiration_entry.inspiration_entry_image.attachment.url(:large) %>
    </div>
    <%= render :partial => 'spree/inspiration_entries/inspiration_entry_details', :locals => {:inspiration_entry => @inspiration_entry} %>
    <% end %>

    <div class="inspiration_entry_body">
      <%== @inspiration_entry.body %>
    </div>

    <%= render :partial => 'spree/inspiration_entries/inspiration_pinterest_board', :locals => {:inspiration_entry => @inspiration_entry} %>
  </div>

  <%= render :partial => 'spree/inspiration_entries/comments', :locals => {:inspiration_entry => @inspiration_entry}  %>
</div>
